@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Hind Siliguri Light";
  src: url("../fonts/HindSiliguri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Hind Siliguri";
  src: url("../fonts/HindSiliguri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Hind Siliguri Medium";
  src: url("../fonts/HindSiliguri-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Hind Siliguri SemiBold";
  src: url("../fonts/HindSiliguri-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Hind Siliguri Bold";
  src: url("../fonts/HindSiliguri-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
.header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: 30px;
}
.header .wrapper {
  flex-direction: column;
}

.header-head-wrapper {
  position: fixed;
  display: block;
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10;
  left: 0;
  right: 0;
}

.header-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  width: 460px;
  justify-content: space-between;
}

.nav__item__link {
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  color: #4D4949;
}
.nav__item__link:active {
  font-weight: 700;
  text-decoration: underline;
}

.header__about {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
  width: 660px;
}

.header__about-title {
  width: 420px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 28px;
  line-height: 37px;
  color: #4D4949;
}

.header__about-description {
  margin-top: 20px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 26px;
  color: #4D4949;
}

.header__about__wrapper-links {
  margin-top: 30px;
}

.wrapper-links__explore {
  background-color: #4D4C49;
  color: #FFF;
}

.wrapper-links__learn-more {
  border-color: #4D4949;
  color: #4D4949;
  margin-left: 25px;
}

/* Section About */
.section {
  margin-top: 80px;
}
.section .wrapper {
  flex-direction: column;
}

.section__header {
  text-align: center;
}

.section__header__title {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 24px;
  line-height: 39px;
  color: #4D4949;
  border-bottom: 1px solid #4D4949;
}
.section__header__title::before, .section__header__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  border: 1px solid #4D4949;
  height: 8px;
  width: 3px;
  border-bottom: none;
}
.section__header__title::before {
  left: -3px;
  border-left: none;
}
.section__header__title::after {
  right: -3px;
  border-right: none;
}

.section__header__description {
  width: 440px;
  margin: 14px auto 60px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 26px;
  color: #4D4949;
}

.about__content {
  display: flex;
  height: 592px;
  justify-content: space-between;
}

.about__stickers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
}

.about__video {
  position: relative;
}

.video__button-play {
  width: 72px;
  height: 72px;
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
  background: transparent;
  border: none;
  cursor: pointer;
}

.about__sticker-item {
  height: 185px;
  width: 225px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 0 30px;
  align-items: center;
  border-radius: 5px;
  z-index: -1;
}
.about__sticker-item::before, .about__sticker-item::after {
  content: "";
  position: absolute;
  border-radius: 5px;
}
.about__sticker-item::after {
  width: 20px;
  height: 15px;
  top: 20px;
  right: -20px;
}
.about__sticker-item::before {
  width: 260px;
  height: 150px;
  bottom: 0;
  z-index: -2;
}

.sticker-item-typography {
  background: #d7d384;
  background: linear-gradient(90deg, #d7d384 29%, #b4d495 100%);
}
.sticker-item-typography::after {
  box-shadow: -5px 5px 0 0 #bcd491;
}
.sticker-item-typography::before {
  left: 0;
  background: #d7d384;
  background: linear-gradient(90deg, #d7d384 29%, #b4d495 100%);
}

.sticker-item-iconset {
  align-self: flex-end;
  padding-left: 0;
  padding-right: 35px;
  background: #c5d9fb;
  background: linear-gradient(90deg, #c5d9fb 29%, #98b6fd 100%);
}
.sticker-item-iconset::after {
  box-shadow: -5px 5px 0 0 #C6D9FB;
  transform: rotate(270deg);
  top: 18px;
  left: -17px;
}
.sticker-item-iconset::before {
  right: 0;
  background: #c5d9fb;
  background: linear-gradient(90deg, #c5d9fb 29%, #98b6fd 100%);
}

.sticker-item-accurate {
  background: #ff8383;
  background: linear-gradient(90deg, #ff8383 29%, #ffa5a5 100%);
}
.sticker-item-accurate::after {
  box-shadow: -5px 5px 0 0 #FFA4A4;
}
.sticker-item-accurate::before {
  left: 0;
  background: #ff8383;
  background: linear-gradient(90deg, #ff8383 29%, #ffa5a5 100%);
}

.sticker-item__title {
  margin-top: 18px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 28px;
  color: #4D4949;
}

.posts__wrapper-card {
  display: flex;
  justify-content: space-between;
}

.wrapper-card__card-item {
  width: 360px;
}

.card-item__title {
  margin-top: 20px;
  font-family: "Hind Siliguri Medium", serif;
  font-size: 20px;
  line-height: 32px;
  color: #4D4949;
}

.card-item__description {
  margin-top: 5px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 24px;
  color: #4D4949;
}

.card-item__info {
  margin-top: 20px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  color: #818181;
}

.card-item__info-read::before, .card-item__info-read::after {
  content: "·";
  font-size: 20px;
  padding: 7px;
}

.portfolio__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__slider__img-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.portfolio__slider__img {
  height: 243px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
}
.portfolio__slider__img:hover {
  box-shadow: 0 3px 10px 0 #6D6D6D;
}
.portfolio__slider__img:hover .portfolio__slider__img_hover-wrapper {
  opacity: 1;
}

.slider__img-ocean {
  background-image: url("../img/bg_img1.png");
}

.slider__img-city {
  background-image: url("../img/bg_img2.png");
}

.slider__img-mountains {
  background-image: url("../img/bg_img3.png");
}

.portfolio__slider__img-title {
  font-family: "Hind Siliguri Bold", serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.portfolio__slider__img-description {
  font-family: "Hind Siliguri Light", serif;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.portfolio__slider__img_hover-wrapper {
  height: 60px;
  width: 101px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.portfolio__slider__link,
.portfolio__slider__search {
  background-color: transparent;
  cursor: pointer;
}

.portfolio__slider__controls {
  margin-top: 40px;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.slider__img-radius-zero {
  border-radius: 0;
}

.button.button-prev,
.button.button-next {
  background-color: #FFF;
  height: 45px;
  width: 45px;
  padding: 0;
}

.arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.arrow-left {
  transform: rotate(135deg);
}

.arrow-right {
  transform: rotate(-45deg);
}

.portfolio__slider__more {
  margin-top: 40px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  background-color: #FFF;
  color: #4D4949;
}

.testimonials {
  background-image: url("../img/bg_testimonial.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 529px;
  padding: 80px 0;
  margin-top: 60px;
}

.testimonials__slider-wrapper {
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
}

.testimonials__slide {
  display: flex;
  order: 1;
  border-radius: 10px;
  margin: 0 30px;
}

.testimonials__btn-prev {
  order: 0;
}

.testimonials__btn-next {
  order: 2;
}

.testimonials__text {
  position: relative;
  width: 280px;
  background-color: #494A4D;
  line-height: 25px;
  border-radius: 5px 0 0 5px;
  color: #FFF;
  padding: 55px 40px 20px 48px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 17px;
}
.testimonials__text::before {
  content: "“";
  position: absolute;
  height: 45px;
  width: 13px;
  color: #FFFFFF;
  font-family: "Malgun Gothic", serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 45px;
  top: 30px;
  left: 33px;
}

.testimonials__text__description {
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 17px;
}

.testimonials__text__author {
  opacity: 0.7;
  font-size: 15px;
  margin-top: 40px;
}

.testimonials__text__position {
  font-family: "Hind Siliguri Light", serif;
}

.contact {
  margin-bottom: 71px;
}
.contact .section__header {
  margin-bottom: 20px;
}

.contact__content {
  height: 611px;
  background-color: #F8F8F8;
}
.contact__content .wrapper {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 114px;
  margin-bottom: 17px;
}

.contact__info {
  width: 360px;
  margin-top: 100px;
}

.contact__info__header {
  margin-bottom: 45px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 24px;
  line-height: 39px;
  color: #4D4949;
}

.contact__list {
  margin-left: 40px;
}

.contact__list__item:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 50%;
  background-color: #DDD;
  top: 190px;
  left: 19px;
}

.contact__list__title {
  font-family: "Hind Siliguri Bold", serif;
  font-size: 15px;
  line-height: 26px;
  color: #4D4949;
  position: relative;
}
.contact__list__title::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-color: #FFF;
  border: 3px solid #4D4949;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -44px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.contact__list__title::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #4D4949;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: -37px;
  z-index: 2;
}

.contact__list__description {
  margin-bottom: 30px;
  padding-top: 5px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 26px;
  color: #4D4949;
}

.contact__form-wrapper {
  height: 623px;
  width: 760px;
  border-radius: 5px;
  position: absolute;
  top: -65px;
  right: 15px;
}

.contact__form__header {
  background-color: #F8F8F8;
  padding: 10px 20px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 27px;
  color: #4D4949;
  height: 65px;
}

.contact__header-img,
.contact__header-title {
  display: inline-block;
}

.contact__header-title {
  width: 580px;
  margin-left: 15px;
}

.contact__form-map {
  display: flex;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 30px;
  background-color: #FFF;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 28px;
  color: #4D4949;
}

.input {
  height: 45px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}
.input:focus {
  border: 1px solid #4D4949;
}

.password__label {
  position: relative;
}
.password__label::before {
  content: "";
  background-image: url("../img/icons/a-icon-showpass.svg");
  height: 8px;
  width: 14px;
  position: absolute;
  top: 7px;
  right: 40px;
  cursor: pointer;
}
.password__label::after {
  content: "show";
  height: 8px;
  width: 14px;
  position: absolute;
  top: 0;
  right: 20px;
  color: #4D4949;
  font-family: "Hind Siliguri", serif;
  font-size: 14px;
  line-height: 23px;
  cursor: pointer;
}

.contact__map {
  width: 380px;
}

.contact__send {
  width: fit-content;
  background-color: #4D4949;
  color: #FFF;
}

.contact__text-dna {
  margin-top: 40px;
  color: #4D4949;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 28px;
}
.contact__text-dna a {
  font-family: "Hind Siliguri Bold", serif;
  color: #4D4949;
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 71px;
  background-color: #F8F8F8;
  border-top: 1px solid #DDD;
  padding: 24px 0;
  z-index: 10;
}
.footer .wrapper {
  justify-content: space-between;
}

.footer__logo {
  margin-left: 65px;
}

.header-blog {
  padding-top: 30px;
}

.header-head {
  width: 100%;
}

.nav__item_active {
  text-decoration: underline;
  font-weight: 700;
}

.article .wrapper {
  flex-direction: column;
  align-items: center;
}

.blog-article {
  margin-bottom: 80px;
}

.article__search {
  align-self: flex-end;
  margin-top: 55px;
  height: 45px;
  width: 320px;
  border: 1px solid #4D4949;
  border-radius: 5px;
  background: url("../../img/icons/a-icon-search-2.svg") no-repeat 285px 12px;
}

.blog-title {
  margin-top: 94px;
}

.section-card {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #FCF6F6;
}
.section-card:hover {
  box-shadow: 0 75px 30px -80px #9c9c9c;
}
.section-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
  height: 70px;
  background-color: #FCF6F6;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-card .card-item__info-comment-icon {
  margin: 0 4px 0;
}
.section-card .button {
  background-color: transparent;
}
.section-card .card-item__info {
  margin-top: 0;
}
.section-card .button {
  margin-top: 27px;
}

.card-video::after {
  content: url("../../img/icons/a-icon-playmini.svg");
}

.card-audio::after {
  content: url("../../img/icons/a-icon-melody.svg");
}

.card-photo::after {
  content: url("../../img/icons/a-icon-picture.svg");
}

.card-text::after {
  content: url("../../img/icons/a-icon-text.svg");
}
.card-text .info__description {
  width: unset;
}
.card-text .section__info {
  padding-left: 27px;
  padding-bottom: 40px;
}

.section__video-wrapper {
  position: relative;
}

.section__video {
  width: 560px;
  height: 100%;
}

.section__img-wrapper {
  width: 560px;
  height: 379px;
}

.section__info {
  display: flex;
  flex-direction: column;
  padding: 25px 99px 0 40px;
}

.info__header {
  display: flex;
}

.info__header__avatar {
  margin-right: 15px;
}

.info__header__name {
  font-family: "Hind Siliguri Medium", serif;
  font-size: 17px;
  line-height: 28px;
  color: #4D4949;
}

.info__audio {
  margin-top: 20px;
  height: 25px;
  width: 205px;
}

.card-item__info {
  display: flex;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  color: #818181;
}

.card-item__info-comments {
  margin: 0 5px 0;
}

.info__text {
  font-family: "Hind Siliguri", serif;
  line-height: 26px;
  color: #4D4949;
}

.info__title {
  margin-top: 35px;
  font-size: 20px;
}

.info__description {
  width: 460px;
  margin-top: 15px;
  font-size: 17px;
}

.blog-read-more {
  background-color: #4D4C49;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 75px;
}

.blog-footer {
  border-top: none;
}

@media (max-width: 1200px) {
  .section__video,
.section__img-wrapper,
.section__img {
    width: 400px;
    max-width: unset;
    height: unset;
  }

  .info__title {
    margin-top: 5px;
    font-size: 18px;
  }

  .section__info {
    padding-right: 10px;
  }

  .info__audio {
    margin-top: 5px;
  }

  .info__description {
    width: unset;
    margin-top: 10px;
    font-size: 15px;
  }

  .section-card .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1180px) {
  .about__content {
    height: unset;
    flex-direction: column;
  }

  .about__stickers {
    flex-direction: row;
    width: unset;
    margin-right: 35px;
    margin-bottom: 20px;
  }

  .sticker-item-iconset {
    margin-left: 70px;
  }

  .about__video {
    margin: 0 auto;
  }

  .contact__form-wrapper {
    height: 542px;
    width: 650px;
  }

  .contact__form__header {
    display: flex;
    font-size: 16px;
  }

  .contact__form {
    padding: 20px;
  }

  .input {
    margin-bottom: 15px;
  }
}
@media (max-width: 1140px) {
  .wrapper-card__card-item {
    width: 270px;
  }

  .card-item__title {
    font-size: 17px;
  }

  .card-item__title {
    font-size: 14px;
  }

  .portfolio__slider__img {
    width: 270px;
  }
}
@media (max-width: 1060px) {
  .contact__content .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__form-wrapper {
    position: static;
  }

  .contact__list__item:not(:last-child)::before {
    display: none;
  }
}
@media (max-width: 900px) {
  .about__video__play {
    width: 500px;
  }

  .about__sticker-item {
    width: 120px;
    height: 100px;
  }
  .about__sticker-item::after {
    width: 20px;
    height: 20px;
    top: 0;
    right: -20px;
  }
  .about__sticker-item::before {
    width: 140px;
    height: 80px;
    bottom: 0;
    z-index: -2;
  }

  .sticker-item-iconset::after {
    left: -20px;
  }

  .sticker-item__img {
    width: 40px;
    height: 40px;
  }

  .sticker-item__title {
    font-size: 14px;
    margin-top: 0;
  }

  .posts__wrapper-card {
    flex-direction: column;
    align-items: center;
  }

  .wrapper-card__card-item {
    width: 350px;
    margin-bottom: 15px;
  }

  .portfolio__slider__img {
    width: 200px;
  }

  .contact__form-wrapper {
    height: 420px;
    width: 490px;
    margin-bottom: 100px;
  }

  .contact__form {
    padding: 10px;
  }

  .input {
    margin-bottom: 5px;
    height: 35px;
  }

  .contact__text-dna {
    margin-top: 10px;
    font-size: 14px;
  }

  .section-card {
    flex-direction: column;
  }
  .section-card::after {
    top: unset;
    bottom: 0;
  }

  .section__video, .section__img-wrapper, .section__img {
    width: 100%;
  }

  .article__search {
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .header-head {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__about {
    width: unset;
  }

  .header__about-title {
    font-size: 20px;
    width: unset;
  }

  .header__about-description {
    font-size: 14px;
    line-height: 20px;
  }

  .header__about {
    align-items: center;
  }

  .sticker-item-iconset {
    margin-left: 35px;
  }

  .portfolio__slider__img {
    width: 160px;
  }

  .testimonials__text {
    width: 50%;
  }

  .testimonials__img {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .nav__list {
    width: 300px;
  }

  .about__stickers {
    flex-direction: column;
    align-items: center;
  }

  .about__sticker-item {
    margin-bottom: 15px;
  }

  .sticker-item-iconset {
    align-self: center;
  }

  .about__video__play {
    max-width: 300px;
  }

  .wrapper-card__card-item {
    width: 300px;
  }

  .section__header__description {
    width: 280px;
    font-size: 14px;
  }

  .portfolio__slider__img-wrapper {
    justify-content: center;
  }

  .portfolio__slider__img:not(:first-child) {
    display: none;
  }

  .portfolio__slider__controls {
    width: 280px;
  }

  .testimonials__slide {
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .testimonials__text {
    width: 200px;
    padding: 25px 20px 10px 20px;
  }
  .testimonials__text::before {
    top: 10px;
    left: 10px;
  }

  .testimonials__text__description {
    font-size: 14px;
  }

  .testimonials__text__author {
    font-size: 14px;
    margin-top: 10px;
  }

  .testimonials__img {
    width: 200px;
  }

  .contact__info__header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contact__list__title,
.contact__list__description {
    font-size: 14px;
  }

  .contact__list__description {
    margin-bottom: 10px;
  }

  .contact__form-map {
    flex-direction: column;
  }

  .contact__form-wrapper {
    height: unset;
    width: 380px;
  }

  .footer {
    height: 110px;
  }
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .social-links {
    margin-bottom: 5px;
  }

  .footer__logo {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .section-card::after {
    width: 50px;
    height: 50px;
  }

  .info__header {
    flex-direction: column;
  }

  .contact__form-wrapper {
    margin-bottom: 120px;
  }
}
@media (max-width: 420px) {
  .contact__form-wrapper,
.contact__map,
.contact__form,
.contact__info {
    width: 260px;
  }

  .contact__list__title::before, .contact__list__title::after {
    display: none;
  }

  .contact__list {
    margin-left: 0;
  }

  .rate {
    display: flex;
  }

  .card-item__info {
    flex-wrap: wrap;
  }

  .article__search {
    width: 100%;
    background: none;
  }
}
@media (max-width: 360px) {
  .about__video__play {
    max-width: 270px;
  }

  .wrapper-card__card-item {
    width: 270px;
  }

  .testimonials__btn-prev,
.testimonials__btn-next {
    display: none;
  }
}
.wrapper {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.logo {
  font-family: "Hind Siliguri Bold", serif;
  font-size: 17px;
}

.logo__link {
  color: #4D4C49;
}

.button {
  padding: 10px 25px;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid #4D4949;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Hind Siliguri", serif;
}

.bold {
  font-weight: 700;
}

.shadow {
  box-shadow: 0 8px 25px 0 #B7B7B7;
}

.button_hover-shadow:hover {
  box-shadow: 0 3px 10px 0 #6D6D6D;
}

.button_hover-bg:hover {
  background-color: #393737;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
