@import '../variables';

.article {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.blog-article {
  margin-bottom: 80px;
}

.article__search {
  align-self: flex-end;
  margin-top: 55px;
  height: 45px;
  width: 320px;
  border: 1px solid #4D4949;
  border-radius: 5px;
  background: url("../../img/icons/a-icon-search-2.svg") no-repeat 285px 12px;
}

.blog-title {
  margin-top: 94px;
}

.section-card {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #FCF6F6;

  &:hover {
    box-shadow: 0 75px 30px -80px #9c9c9c;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 78px;
    height: 70px;
    background-color: #FCF6F6;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-item__info-comment-icon {
    margin: 0 4px 0;
  }

  .button {
    background-color: transparent;
  }

  .card-item__info {
    margin-top: 0;
  }

  .button {
    margin-top: 27px;
  }
}

.card-video {
  &::after {
    content: url("../../img/icons/a-icon-playmini.svg");
  }
}

.card-audio {
  &::after {
    content: url("../../img/icons/a-icon-melody.svg");
  }
}

.card-photo {
  &::after {
    content: url("../../img/icons/a-icon-picture.svg");
  }
}

.card-text {
  &::after {
    content: url("../../img/icons/a-icon-text.svg");
  }

  .info__description {
    width: unset;
  }

  .section__info {
    padding-left: 27px;
    padding-bottom: 40px;
  }
}

.section__video-wrapper {
  position: relative;
}

.section__video {
  width: 560px;
  height: 100%;
}

.section__img-wrapper {
  width: 560px;
  height: 379px;
}

.section__info {
  display: flex;
  flex-direction: column;
  padding: 25px 99px 0 40px;
}

.info__header {
  display: flex;
}

.info__header__avatar {
  margin-right: 15px;
}

.info__header__name {
  font-family: "Hind Siliguri Medium", serif;
  font-size: 17px;
  line-height: 28px;
  color: $main-color;
}

.info__audio {
  margin-top: 20px;
  height: 25px;
  width: 205px;
}

.card-item__info {
  display: flex;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  color: #818181;
}

.card-item__info-comments {
  margin: 0 5px 0;
}

.info__text {
  font-family: "Hind Siliguri", serif;
  line-height: 26px;
  color: $main-color;
}

.info__title {
  margin-top: 35px;
  font-size: 20px;
}

.info__description {
  width: 460px;
  margin-top: 15px;
  font-size: 17px;
}

.blog-read-more {
  background-color: $secondary-color;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 75px;
}