.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 71px;
  background-color: #F8F8F8;
  border-top: 1px solid #DDD;
  padding: 24px 0;
  z-index: 10;

  .wrapper {
    justify-content: space-between;
  }
}

.footer__logo {
  margin-left: 65px;
}