@import "variables";

.header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: 30px;

  .wrapper {
    flex-direction: column;
  }
}

.header-head-wrapper {
  position: fixed;
  display: block;
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10;
  left: 0;
  right: 0;
}

.header-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  width: 460px;
  justify-content: space-between;
}

.nav__item__link {
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  color: $main-color;

  &:active {
    font-weight: 700;
    text-decoration: underline;
  }
}

.header__about {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
  width: 660px;
}

.header__about-title {
  width: 420px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 28px;
  line-height: 37px;
  color: $main-color;
}

.header__about-description {
  margin-top: 20px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 26px;
  color: $main-color;
}

.header__about__wrapper-links {
  margin-top: 30px;
}

.wrapper-links__explore {
  background-color: $secondary-color;
  color: #FFF;
}

.wrapper-links__learn-more {
  border-color: $main-color;
  color: $main-color;
  margin-left: 25px;
}
