@import 'variables';
/* Section About */

.section {
  margin-top: 80px;

  .wrapper {
    flex-direction: column;
  }
}

.section__header {
  text-align: center;
}

.section__header__title {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 24px;
  line-height: 39px;
  color: $main-color;
  border-bottom: 1px solid $main-color;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -1px;
    border: 1px solid $main-color;
    height: 8px;
    width: 3px;
    border-bottom: none;
  }

  &::before {
    left: -3px;
    border-left: none;
  }

  &::after {
    right: -3px;
    border-right: none;
  }
}

.section__header__description {
  width: 440px;
  margin: 14px auto 60px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 26px;
  color: $main-color;
}

.about__content {
  display: flex;
  height: 592px;
  justify-content: space-between;
}

.about__stickers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
}

.about__video {
  position: relative;
}

.video__button-play {
  width: 72px;
  height: 72px;
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
  background: transparent;
  border: none;
  cursor: pointer;
}

.about__sticker-item {
  height: 185px;
  width: 225px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 0 30px;
  align-items: center;
  border-radius: 5px;
  z-index: -1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 5px;
  }

  &::after {
    width: 20px;
    height: 15px;
    top: 20px;
    right: -20px;
  }

  &::before {
    width: 260px;
    height: 150px;
    bottom: 0;
    z-index: -2;
  }
}

.sticker-item-typography {
  background: rgb(215, 211, 132);
  background: linear-gradient(90deg, rgba(215, 211, 132, 1) 29%, rgba(180, 212, 149, 1) 100%);

  &::after {
    box-shadow: -5px 5px 0 0 #bcd491;
  }

  &::before {
    left: 0;
    background: rgb(215, 211, 132);
    background: linear-gradient(90deg, rgba(215, 211, 132, 1) 29%, rgba(180, 212, 149, 1) 100%);
  }
}

.sticker-item-iconset {
  align-self: flex-end;
  padding-left: 0;
  padding-right: 35px;
  background: rgb(197, 217, 251);
  background: linear-gradient(90deg, rgba(197, 217, 251, 1) 29%, rgba(152, 182, 253, 1) 100%);

  &::after {
    box-shadow: -5px 5px 0 0 #C6D9FB;
    transform: rotate(270deg);
    top: 18px;
    left: -17px;
  }

  &::before {
    right: 0;
    background: rgb(197, 217, 251);
    background: linear-gradient(90deg, rgba(197, 217, 251, 1) 29%, rgba(152, 182, 253, 1) 100%);
  }
}

.sticker-item-accurate {
  background: rgb(255, 131, 131);
  background: linear-gradient(90deg, rgba(255, 131, 131, 1) 29%, rgba(255, 165, 165, 1) 100%);


  &::after {
    box-shadow: -5px 5px 0 0 #FFA4A4;
  }

  &::before {
    left: 0;
    background: rgb(255, 131, 131);
    background: linear-gradient(90deg, rgba(255, 131, 131, 1) 29%, rgba(255, 165, 165, 1) 100%);
  }
}

.sticker-item__title {
  margin-top: 18px;
  font-family: 'Hind Siliguri', serif;
  font-size: 17px;
  line-height: 28px;
  color: $main-color;
}

// Posts

.posts__wrapper-card {
  display: flex;
  justify-content: space-between;
}

.wrapper-card__card-item {
  width: 360px;
}

.card-item__title {
  margin-top: 20px;
  font-family: "Hind Siliguri Medium", serif;
  font-size: 20px;
  line-height: 32px;
  color: $main-color;
}

.card-item__description {
  margin-top: 5px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 24px;
  color: $main-color;
}

.card-item__info {
  margin-top: 20px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  color: #818181;
}

.card-item__info-read {
  &::before,
  &::after {
    content: '\00B7';
    font-size: 20px;
    padding: 7px;
  }
}

// Portfolio

.portfolio__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__slider__img-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.portfolio__slider__img {
  height: 243px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 10px 0 #6D6D6D;

    .portfolio__slider__img_hover-wrapper {
      opacity: 1;
    }
  }
}

.slider__img-ocean {
  background-image: url('../img/bg_img1.png');
}

.slider__img-city {
  background-image: url('../img/bg_img2.png');
}

.slider__img-mountains {
  background-image: url('../img/bg_img3.png');
}

.portfolio__slider__img-title {
  font-family: "Hind Siliguri Bold", serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.portfolio__slider__img-description {
  font-family: "Hind Siliguri Light", serif;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.portfolio__slider__img_hover-wrapper {
  height: 60px;
  width: 101px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .5s;
}

.portfolio__slider__link,
.portfolio__slider__search {
  background-color: transparent;
  cursor: pointer;
}

.portfolio__slider__controls {
  margin-top: 40px;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.slider__img-radius-zero {
  border-radius: 0;
}

.button.button-prev,
.button.button-next {
  background-color: #FFF;
  height: 45px;
  width: 45px;
  padding: 0;
}

.arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.arrow-left {
  transform: rotate(135deg);
}

.arrow-right {
  transform: rotate(-45deg);
}

.portfolio__slider__more {
  margin-top: 40px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 25px;
  background-color: #FFF;
  color: $main-color;
}

// Testimonials

.testimonials {
  background-image: url('../img/bg_testimonial.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 529px;
  padding: 80px 0;
  margin-top: 60px;
}

.testimonials__slider-wrapper {
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
}

.testimonials__slide {
  display: flex;
  order: 1;
  border-radius: 10px;
  margin: 0 30px;
}

.testimonials__btn-prev {
  order: 0;
}

.testimonials__btn-next {
  order: 2;
}

.testimonials__text {
  position: relative;
  width: 280px;
  background-color: #494A4D;
  line-height: 25px;
  border-radius: 5px 0 0 5px;
  color: #FFF;
  padding: 55px 40px 20px 48px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 17px;

  &::before {
    content: '\201c';
    position: absolute;
    height: 45px;
    width: 13px;
    color: #FFFFFF;
    font-family: "Malgun Gothic", serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 45px;
    top: 30px;
    left: 33px;
  }
}

.testimonials__text__description {
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 17px;
}

.testimonials__text__author {
  opacity: .7;
  font-size: 15px;
  margin-top: 40px;
}

.testimonials__text__position {
  font-family: "Hind Siliguri Light", serif;
}

// Contact

.contact {
  margin-bottom: 71px;

  .section__header {
    margin-bottom: 20px;
  }
}

.contact__content {
  height: 611px;
  background-color: #F8F8F8;

  .wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 114px;
  margin-bottom: 17px;
}

.contact__info {
  width: 360px;
  margin-top: 100px;
}

.contact__info__header {
  margin-bottom: 45px;
  font-family: "Hind Siliguri SemiBold", serif;
  font-size: 24px;
  line-height: 39px;
  color: $main-color;
}

.contact__list {
  margin-left: 40px;
}

.contact__list__item:not(:last-child) {
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: #DDD;
    top: 190px;
    left: 19px;
  }
}

.contact__list__title {
  font-family: "Hind Siliguri Bold", serif;
  font-size: 15px;
  line-height: 26px;
  color: $main-color;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background-color: #FFF;
    border: 3px solid $main-color;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: -44px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  &::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: $main-color;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: -37px;
    z-index: 2;
  }
}

.contact__list__description {
  margin-bottom: 30px;
  padding-top: 5px;
  font-family: "Hind Siliguri", serif;
  font-size: 15px;
  line-height: 26px;
  color: $main-color;
}

.contact__form-wrapper {
  height: 623px;
  width: 760px;
  border-radius: 5px;
  position: absolute;
  top: -65px;
  right: 15px;
}

.contact__form__header {
  background-color: #F8F8F8;
  padding: 10px 20px;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 27px;
  color: $main-color;
  height: 65px;
}

.contact__header-img,
.contact__header-title {
  display: inline-block;
}

.contact__header-title {
  width: 580px;
  margin-left: 15px;
}

.contact__form-map {
  display: flex;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 30px;
  background-color: #FFF;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 28px;
  color: $main-color;
}

.input {
  height: 45px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;

  &:focus {
    border: 1px solid $main-color;
  }
}

.password__label {
  position: relative;

  &::before {
    content: '';
    background-image: url('../img/icons/a-icon-showpass.svg');
    height: 8px;
    width: 14px;
    position: absolute;
    top: 7px;
    right: 40px;
    cursor: pointer;
  }

  &::after {
    content: "show";
    height: 8px;
    width: 14px;
    position: absolute;
    top: 0;
    right: 20px;
    color: $main-color;
    font-family: "Hind Siliguri", serif;
    font-size: 14px;
    line-height: 23px;
    cursor: pointer;
  }
}

.contact__map {
  width: 380px;
}

.contact__send {
  width: fit-content;
  background-color: $main-color;
  color: #FFF;
}

.contact__text-dna {
  margin-top: 40px;
  color: $main-color;
  font-family: "Hind Siliguri", serif;
  font-size: 17px;
  line-height: 28px;

  a {
    font-family: "Hind Siliguri Bold", serif;
    color: $main-color;
    text-decoration: underline;
  }
}


