@media (max-width: 1200px) {
  .section__video,
  .section__img-wrapper,
  .section__img {
    width: 400px;
    max-width: unset;
    height: unset;
  }

  .info__title {
    margin-top: 5px;
    font-size: 18px;
  }

  .section__info {
    padding-right: 10px;
  }

  .info__audio {
    margin-top: 5px;
  }

  .info__description {
    width: unset;
    margin-top: 10px;
    font-size: 15px;
  }
  .section-card .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1180px) {
  .about__content {
    height: unset;
    flex-direction: column;
  }

  .about__stickers {
    flex-direction: row;
    width: unset;
    margin-right: 35px;
    margin-bottom: 20px;
  }

  .sticker-item-iconset {
    margin-left: 70px;
  }

  .about__video {
    margin: 0 auto;
  }

  .contact__form-wrapper {
    height: 542px;
    width: 650px;
  }

  .contact__form__header {
    display: flex;
    font-size: 16px;
  }

  .contact__form {
    padding: 20px;
  }

  .input {
    margin-bottom: 15px;
  }
}

@media (max-width: 1140px) {
  .wrapper-card__card-item {
    width: 270px;
  }

  .card-item__title {
    font-size: 17px;
  }

  .card-item__title {
    font-size: 14px;
  }

  .portfolio__slider__img {
    width: 270px;
  }
}

@media (max-width: 1060px) {
  .contact__content .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__form-wrapper {
    position: static;
  }

  .contact__list__item:not(:last-child)::before {
    display: none;
  }
}

@media (max-width: 900px) {
  .about__video__play {
    width: 500px;
  }

  .about__sticker-item {
    width: 120px;
    height: 100px;

    &::after {
      width: 20px;
      height: 20px;
      top: 0;
      right: -20px;
    }

    &::before {
      width: 140px;
      height: 80px;
      bottom: 0;
      z-index: -2;
    }
  }

  .sticker-item-iconset::after {
    left: -20px;
  }

  .sticker-item__img {
    width: 40px;
    height: 40px;
  }

  .sticker-item__title {
    font-size: 14px;
    margin-top: 0;
  }

  .posts__wrapper-card {
    flex-direction: column;
    align-items: center;
  }
  .wrapper-card__card-item {
    width: 350px;
    margin-bottom: 15px;
  }

  .portfolio__slider__img {
    width: 200px;
  }

  .contact__form-wrapper {
    height: 420px;
    width: 490px;
    margin-bottom: 100px;
  }

  .contact__form {
    padding: 10px;
  }

  .input {
    margin-bottom: 5px;
    height: 35px;
  }

  .contact__text-dna {
    margin-top: 10px;
    font-size: 14px;
  }

  .section-card {
    flex-direction: column;

    &::after {
      top: unset;
      bottom: 0;
    }
  }

  .section__video, .section__img-wrapper, .section__img {
    width: 100%;
  }

  .article__search {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .header-head {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__about {
    width: unset;
  }

  .header__about-title {
    font-size: 20px;
    width: unset;
  }

  .header__about-description {
    font-size: 14px;
    line-height: 20px;
  }

  .header__about {
    align-items: center;
  }

  .sticker-item-iconset {
    margin-left: 35px;
  }

  .portfolio__slider__img {
    width: 160px;
  }

  .testimonials__text {
    width: 50%;
  }

  .testimonials__img {
    width: 50%;
  }
}

@media (max-width: 540px) {
  .nav__list {
    width: 300px;
  }

  .about__stickers {
    flex-direction: column;
    align-items: center;
  }

  .about__sticker-item {
    margin-bottom: 15px;
  }

  .sticker-item-iconset {
    align-self: center;
  }

  .about__video__play {
    max-width: 300px;
  }

  .wrapper-card__card-item {
    width: 300px;
  }

  .section__header__description {
    width: 280px;
    font-size: 14px;
  }

  .portfolio__slider__img-wrapper {
    justify-content: center;
  }

  .portfolio__slider__img:not(:first-child) {
    display: none;
  }

  .portfolio__slider__controls {
    width: 280px;
  }

  .testimonials__slide {
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .testimonials__text {
    width: 200px;
    padding: 25px 20px 10px 20px;

    &::before {
      top: 10px;
      left: 10px;
    }
  }

  .testimonials__text__description {
    font-size: 14px;
  }

  .testimonials__text__author {
    font-size: 14px;
    margin-top: 10px;
  }

  .testimonials__img {
    width: 200px;
  }

  .contact__info__header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contact__list__title,
  .contact__list__description {
    font-size: 14px;
  }

  .contact__list__description {
    margin-bottom: 10px;
  }

  .contact__form-map {
    flex-direction: column;
  }

  .contact__form-wrapper {
    height: unset;
    width: 380px;
  }

  .footer {
    height: 110px;

    .wrapper {
      flex-direction: column;
      align-items: center;
    }

    .social-links {
      margin-bottom: 5px;
    }
  }
  .footer__logo {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .section-card::after {
    width: 50px;
    height: 50px;
  }

  .info__header {
    flex-direction: column;
  }

  .contact__form-wrapper {
    margin-bottom: 120px;
  }
}

@media (max-width: 420px) {
  .contact__form-wrapper,
  .contact__map,
  .contact__form,
  .contact__info {
    width: 260px;
  }

  .contact__list__title {
    &::before,
    &::after {
      display: none;
    }
  }

  .contact__list {
    margin-left: 0;
  }

  .rate {
    display: flex;
  }

  .card-item__info {
    flex-wrap: wrap;
  }

  .article__search {
    width: 100%;
    background: none;
  }
}

@media (max-width: 360px) {
  .about__video__play {
    max-width: 270px;
  }

  .wrapper-card__card-item {
    width: 270px;
  }

  .testimonials__btn-prev,
  .testimonials__btn-next {
    display: none;
  }
}