@import 'variables';
@import 'reset';
@import 'fonts';
@import 'header';
@import 'main';
@import 'footer';
@import 'blogPage/blog_header';
@import "blogPage/blog_article";
@import 'blogPage/blog_footer';
@import 'media';

.wrapper {
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.logo {
  font-family: 'Hind Siliguri Bold', serif;
  font-size: 17px;
}

.logo__link {
  color: $secondary-color;
}

.button {
  padding: 10px 25px;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid $main-color;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Hind Siliguri', serif;
}

.bold {
  font-weight: 700;
}

.shadow {
  box-shadow: 0 8px 25px 0 #B7B7B7;
}

.button_hover-shadow:hover {
  box-shadow: 0 3px 10px 0 #6D6D6D;
}

.button_hover-bg:hover {
  background-color: #393737;
  color: #FFF;
}